USE [master]
GO
/****** Object:  Database [Showroom]    Script Date: 4/17/2026 11:24:02 AM ******/
CREATE DATABASE [Showroom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Showroom', FILENAME = N'C:\Users\duhah\Showroom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Showroom_log', FILENAME = N'C:\Users\duhah\Showroom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Showroom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Showroom]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/17/2026 11:24:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 4/17/2026 11:24:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](max) NOT NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 4/17/2026 11:24:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 4/17/2026 11:24:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[visitor_id] [int] NULL,
	[showroom_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 4/17/2026 11:24:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [int] NOT NULL,
	[role] [nvarchar](max) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 4/17/2026 11:24:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[visitor_id] [int] NULL,
	[is_read] [bit] NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 4/17/2026 11:24:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[name_ar] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[image_url] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salespersons]    Script Date: 4/17/2026 11:24:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salespersons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[showroom_id] [int] NULL,
	[phone] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[showrooms]    Script Date: 4/17/2026 11:24:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[showrooms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[name_ar] [nvarchar](max) NULL,
	[location] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitors]    Script Date: 4/17/2026 11:24:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NULL,
	[showroom_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[salesperson_id] [int] NULL,
	[is_interested] [bit] NULL,
	[follow_up_status] [nvarchar](max) NULL,
	[score] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[is_returning] [bit] NULL,
	[language] [nvarchar](max) NULL,
	[visited_at] [datetimeoffset](7) NULL,
	[created_at] [datetimeoffset](7) NULL,
	[follow_up_notes] [nvarchar](max) NULL,
	[cpr] [nvarchar](max) NULL,
	[IsDeleted] [int] NOT NULL,
	[DeletedFrom] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260408190840_InitialBaseline', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260408191123_AddValidation', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260411094824_AddVisitorValidation', N'10.0.5')
GO
SET IDENTITY_INSERT [dbo].[admins] ON 

INSERT [dbo].[admins] ([id], [name], [email], [password_hash], [created_at]) VALUES (1001, N'MonneraIsa', N'MonneraIsa@gmail.com', N'$2a$11$/PLXw3V5LC3fHkxt3S0/eeg5knJ5zoAr35kIVy0Q7aciqI9IKpWmK', CAST(N'2026-04-11T16:58:28.3501894+03:00' AS DateTimeOffset))
INSERT [dbo].[admins] ([id], [name], [email], [password_hash], [created_at]) VALUES (1002, N'AmmenaAli', N'AmmenaAli@gmail.com', N'$2a$11$AWZ11EGeVOfiShrKWHcsLuLViO6f7JJdX7iczeNUsYgECy4w/mTaG', CAST(N'2026-04-11T19:30:31.1281366+03:00' AS DateTimeOffset))
INSERT [dbo].[admins] ([id], [name], [email], [password_hash], [created_at]) VALUES (1003, N'DuhaHashem', N'duhahashemalali@gmail.com', N'$2a$11$nS.p2aQ/qP7lCoQy9lTJj./8SkarwnF4wry3y2PgnbNR714xp.YYu', CAST(N'2026-04-13T15:26:48.6394945+03:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[admins] OFF
GO
SET IDENTITY_INSERT [dbo].[conversations] ON 

INSERT [dbo].[conversations] ([id], [title], [created_at]) VALUES (7, N'Chat – 08/04/2026', CAST(N'2026-04-08T00:00:00.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[conversations] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([id], [visitor_id], [showroom_id], [rating], [comment], [created_at]) VALUES (1, 19, 4, 3, N'', CAST(N'2026-04-02T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[feedback] ([id], [visitor_id], [showroom_id], [rating], [comment], [created_at]) VALUES (2, 20, 4, 3, N'', CAST(N'2026-04-02T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[feedback] ([id], [visitor_id], [showroom_id], [rating], [comment], [created_at]) VALUES (3, 21, 6, 5, N'', CAST(N'2026-04-02T00:00:00.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [type], [message], [visitor_id], [is_read], [created_at]) VALUES (1, N'new_visitor', N'New walk-in: Abdullah Al-Farsi at showroom #1', 19, 1, CAST(N'2026-04-02T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[notifications] ([id], [type], [message], [visitor_id], [is_read], [created_at]) VALUES (2, N'new_visitor', N'New walk-in: Sarah Johnson at showroom #1', 20, 1, CAST(N'2026-04-02T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[notifications] ([id], [type], [message], [visitor_id], [is_read], [created_at]) VALUES (3, N'new_visitor', N'New walk-in: Hassan Al-Mutairi at showroom #1', 29, 1, CAST(N'2026-04-02T00:00:00.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [name_ar], [category], [image_url], [created_at]) VALUES (1, N'Toyota Land Cruiser', N'تويوتا لاند كروزر', N'SUV', NULL, CAST(N'2026-04-08T19:20:21.6463872+03:00' AS DateTimeOffset))
INSERT [dbo].[products] ([id], [name], [name_ar], [category], [image_url], [created_at]) VALUES (2, N'Toyota Camry', N'تويوتا كامري', N'Sedan', NULL, CAST(N'2026-04-08T19:20:21.6463872+03:00' AS DateTimeOffset))
INSERT [dbo].[products] ([id], [name], [name_ar], [category], [image_url], [created_at]) VALUES (3, N'Lexus LX 600', N'لكسس LX 600', N'Luxury SUV', NULL, CAST(N'2026-04-08T19:20:21.6463872+03:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[salespersons] ON 

INSERT [dbo].[salespersons] ([id], [name], [showroom_id], [phone], [email], [created_at]) VALUES (1, N'Ahmed Al-Rashidi', 4, N'+973 5555 1111', N'ahmed@almanashowroom.qa', CAST(N'2026-04-08T19:22:47.0310599+03:00' AS DateTimeOffset))
INSERT [dbo].[salespersons] ([id], [name], [showroom_id], [phone], [email], [created_at]) VALUES (2, N'Mohammed Al-Sayed', 4, N'+973 5555 2222', N'mohammed@almanashowroom.qa', CAST(N'2026-04-08T19:22:47.0310599+03:00' AS DateTimeOffset))
INSERT [dbo].[salespersons] ([id], [name], [showroom_id], [phone], [email], [created_at]) VALUES (3, N'Khalid Ibrahim', 5, N'+973 5111 2222', N'khalid@citycars.sa', CAST(N'2026-04-08T19:22:47.0310599+03:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[salespersons] OFF
GO
SET IDENTITY_INSERT [dbo].[showrooms] ON 

INSERT [dbo].[showrooms] ([id], [name], [name_ar], [location], [phone], [created_at]) VALUES (4, N'Nissan & INFINITI Showroom - Y.K. Almoayyed & Sons', NULL, N'Sitra, Bahrain', NULL, CAST(N'2026-04-08T19:20:21.6453100+03:00' AS DateTimeOffset))
INSERT [dbo].[showrooms] ([id], [name], [name_ar], [location], [phone], [created_at]) VALUES (5, N'Y.K. Almoayyed & Sons - Electronics and Home Appliances', NULL, N'Gudaibiya, Manama, Bahrain', NULL, CAST(N'2026-04-08T19:20:21.6453100+03:00' AS DateTimeOffset))
INSERT [dbo].[showrooms] ([id], [name], [name_ar], [location], [phone], [created_at]) VALUES (6, N'Almoayyed Motors - Ford', NULL, N'Sitra, Bahrain', NULL, CAST(N'2026-04-08T19:20:21.6453100+03:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[showrooms] OFF
GO
SET IDENTITY_INSERT [dbo].[visitors] ON 

INSERT [dbo].[visitors] ([id], [name], [phone], [email], [showroom_id], [product_id], [salesperson_id], [is_interested], [follow_up_status], [score], [notes], [is_returning], [language], [visited_at], [created_at], [follow_up_notes], [cpr], [IsDeleted], [DeletedFrom]) VALUES (19, N'Abdullah Al-Farsi', N'+973 5511 2233', NULL, 4, NULL, NULL, 1, N'pending', 65, NULL, 0, N'ar', CAST(N'2026-03-20T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2026-04-08T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, N'880120001', 0, NULL)
INSERT [dbo].[visitors] ([id], [name], [phone], [email], [showroom_id], [product_id], [salesperson_id], [is_interested], [follow_up_status], [score], [notes], [is_returning], [language], [visited_at], [created_at], [follow_up_notes], [cpr], [IsDeleted], [DeletedFrom]) VALUES (20, N'Sarah Johnson', N'+973 5522 3344', N'sarah.johnson@gmail.com', 5, NULL, NULL, 1, N'pending', 78, NULL, 0, N'en', CAST(N'2026-03-21T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2026-04-08T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, N'920315002', 0, NULL)
INSERT [dbo].[visitors] ([id], [name], [phone], [email], [showroom_id], [product_id], [salesperson_id], [is_interested], [follow_up_status], [score], [notes], [is_returning], [language], [visited_at], [created_at], [follow_up_notes], [cpr], [IsDeleted], [DeletedFrom]) VALUES (21, N'Mohammed Ali', N'+973 5111 9999', NULL, 6, NULL, NULL, 1, N'pending', 50, NULL, 0, N'ar', CAST(N'2026-03-22T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2026-04-08T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, N'870614003', 0, NULL)
SET IDENTITY_INSERT [dbo].[visitors] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admins__AB6E6164ACC71181]    Script Date: 4/17/2026 11:24:03 AM ******/
ALTER TABLE [dbo].[admins] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ('new_visitor') FOR [type]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[salespersons] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[showrooms] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[visitors] ADD  DEFAULT ('pending') FOR [follow_up_status]
GO
ALTER TABLE [dbo].[visitors] ADD  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[visitors] ADD  DEFAULT ((0)) FOR [is_returning]
GO
ALTER TABLE [dbo].[visitors] ADD  DEFAULT ('en') FOR [language]
GO
ALTER TABLE [dbo].[visitors] ADD  DEFAULT (sysdatetimeoffset()) FOR [visited_at]
GO
ALTER TABLE [dbo].[visitors] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[visitors] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([showroom_id])
REFERENCES [dbo].[showrooms] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitors] ([id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitors] ([id])
GO
ALTER TABLE [dbo].[salespersons]  WITH CHECK ADD FOREIGN KEY([showroom_id])
REFERENCES [dbo].[showrooms] ([id])
GO
ALTER TABLE [dbo].[visitors]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[visitors]  WITH CHECK ADD FOREIGN KEY([salesperson_id])
REFERENCES [dbo].[salespersons] ([id])
GO
ALTER TABLE [dbo].[visitors]  WITH CHECK ADD FOREIGN KEY([showroom_id])
REFERENCES [dbo].[showrooms] ([id])
GO
USE [master]
GO
